/* src/components/CoffeeMug/CoffeeMug.css */

.coffee-mug-container {
  position: fixed; /* stay in place on scroll */
  bottom:20%;
  right: 150px;       /* keeps it on the left */
  z-index: 10;
}

.rotating-mug {
  width: 480px;           /* adjust size as needed */
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
