.orders-page-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(14, 20, 13, 0.938);
  background-color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px auto;
}

.orders-page-title {
  font-family: "Pacifico", cursive;
  color: #5e412f;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.rdt_Table {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(255, 228, 228);
}

.rdt_TableHead {
  background-color: #e9ebf7;
  font-weight: 600;
}

.rdt_TableRow:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

.rdt_Pagination {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}
