.calculator {
    background-color: #fff1f561;
    width: 280px;
    max-height: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    padding: 20px;
}

.payment {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 10px;
    transform: scale(2);
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    transform: scale(2);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;

}

.buy-now-btn {
    padding: 10px 15px;
    background-color: #cc4068b0;
    color: white;
    border: none;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}